* {
    position: relative;
}

body {
    background-image: url('../img/background.jpg');
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
}

header {
    background-color: rgba(0, 0, 0, 0.5);
}

h2 {
   font-size: 1.2em;
   text-transform: uppercase;
   color: #06a; 
   margin-bottom: 1em;
   font-weight: 500;
}

h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    color: black; 
    margin-bottom: 1em;
    font-weight: 500;
    border-bottom: 1px solid black;
    padding-bottom: 0.3em;
}

#ustava h4 {
    font-size: 1.2em;
    background-color: #888;
    color: white; 
    text-align: left;
    padding: 10px 0 10px 20px;
    font-weight: 300;
}

#ustava h4:hover {
    background-color: #3a8;
}